{{!-- #each loop to populate all truck info, use flexbox columns to style --}}

{{#each trucks}}
<h1>{{ truck_name}}</h1>
<ul>
  
  <li>
    <p>Category: {{category}}</p>
    <p>Website: {{website}}</p>
    <p>Email: {{email}}</p>
    <p>Phone number: {{phone}}</p>
  </li>
  
</ul>
{{/each}}
