{{!-- populate truck info from search on homepage --}}
<h1>{{ truck_name }}</h1>
<ul>
  
  <li>
    <p>Website: {{ website }}</p>
    <p>Email: {{ email }}</p>
    <p>Phone number: {{ phone }}</p>
  </li>
  
</ul>

<h2>Reviews:</h2>
<p>{{ review }}</p>